
  /* Header/Blog Title */
  Header {
	font-family: Impact, Fantasy;
	padding: 30px;
	font-size: 40px;
	text-align: center;
	background: #991223;
  }

  Header img{
	padding-top: 10px;
	height:130px
}
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
.Main {
	background: #CC6600;	
	text-align:left;
	float: left;
	width: 75%;
  }
  
  /* Right column */
  .Navigation {
	background: #FF9900;
	text-align:left;
	float: left;
	width: 25%;
	
  }
  
  
  
  /* Footer */
  .Footer {
	padding: 20px;
	text-align: center;
	background: #0d0d0d;
	color: rgb(254, 254, 255);
	margin-top: 20px;
    bottom:0px;
    width: 100%;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
	.leftcolumn, .rightcolumn {
	  width: 100%;
	  padding: 0;
	}
  }